{% extends "fighter/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="conteiner">
  <p>Вход</p>
  {% if form.errors %}
    <strong>Неверное имя пользователя или пароль</strong>
  {% endif %}
  <form method="post" action="">
    {% csrf_token %} 
    <p><label for="id_username">Имя пользователя:</label></p>
    <p><input autofocus="" id="id_username" maxlength="254" name="username" type="text" placeholder="Введите имя" required /></p>
    <p><label for="id_password">Пароль:</label></p>
    <p><input id="id_password" name="password" type="password" placeholder="Введите пароль" required /></p>
    <button id="btnLogin" type="submit">Войти</button>
  </form>
  <p>Вход через соц.сети</p>
  <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
  <a href="{% url 'social:begin' 'twitter' %}">Twitter</a>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
  <a href="{% url 'social:begin' 'vk-oauth2' %}">Vkontakte</a>
<p>{% trans "Забыли пароль" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Сбросить пароль" %}</a>!</p>
<p>Нет аккаунта? <a href="{% url 'registration_register' %}">{% trans "Регистрация" %}</a>!</p>
</div>
{% endblock %}
