{% extends "fighter/base.html" %}
{% load i18n %}

{% block content %}
<div class="conteiner">
  {% for x in form %}
    {{ x.errors }}
  {% endfor %}
  <form method="post" action=".">
    {% csrf_token %} 
    <!--{{ form.as_p }}-->
    <p><label for="id_old_password">Старый пароль:</label></p>
    <p><input autofocus="" id="id_old_password" name="old_password" type="password" required /></p>
    <p><label for="id_new_password1">Новый пароль:</label></p>
    <p><input id="id_new_password1" name="new_password1" type="password" required /> <span class="helptext"><ul><li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Ваш пароль не может быть одним из широко распространённых паролей.</li><li>Ваш пароль не может состоять только из цифр.</li></ul></span></p>
    <p><label for="id_new_password2">Подтверждение нового пароля:</label></p>
    <p><input id="id_new_password2" name="new_password2" type="password" required /></p>

    <button id="btnLogin" type="submit">Отправить</button>
  </form>
</div>
{% endblock %}