{% extends 'fighter/base.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <img src="{{ user.userprofile.avatar.url }}"/><br>
    {{ user.get_full_name|default:user }}<br>
    {{ user.userprofile.city }}<br>
    <div style="color: grey">{{ user.userprofile.about }}</div>
    <hr>
    <a href="/accounts/password/change">Password change</a><br>

</body>
</html>
{% endblock %}