{% extends 'fighter/base.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <img src="{{ user.userprofile.avatar.url }}"/><br>
    {{ user.userprofile.city }}
    <hr>
    <a href="/accounts/password/change">Password change</a><br>
    <!--<a href="{% url 'auth_password_change' %}">Password change</a><br>-->
    <a href="/accounts/password/reset">Password reset</a><br>

</body>
</html>
{% endblock %}