{% extends 'fighter/base.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    {% if user.userprofile.avatar %}
        <img src="{{ user.userprofile.avatar.url }}" width="150" height="150"/><br>
    {% endif %}
    {{user.first_name}}
    {{user.last_name}}
    {{ user.userprofile.city }}<br>
    <div style="color: grey">{{ user.userprofile.about }}</div>
</body>
</html>
{% endblock %}