{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English Fighter</title>
    <link rel="stylesheet" href="{% static 'fighter/css/style_fighter.css' %}">
    <link rel="stylesheet" href="{% static 'fighter/css/modal_window_profile.css' %}">
    <link rel="stylesheet" href="{% static 'fighter/css/rootroom.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/style_accounts.css' %}">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
    <ul id="nav">
        <!--<li><a style="padding-top: 0%" href="/fighter/demo"><img class="round" src="{% static 'fighter/img/logo1_copy.jpeg' %}" width="45" height="45"></li></a>-->
        <li><a href="/fighter/index">ENGLISH FIGHTER</a></li>
        {% if user.is_anonymous %}
            <!--<li><a href="/accounts/register">Регистрация</a></li>-->
        {% endif %}
            {% if user.is_authenticated %}
            <li><div id="point"><img src="{% static 'fighter/img/moneta.jpg' %}" width="20" height="20"><div id="points">{{ user.userprofile.points }}</div></li>
            {% endif %}
        {% if request.is_superuser %}
            <a href="fighter/myadmin">MyAdmin</a>
        {% endif %}
        <div id="nav2">
            {% if user.userprofile %}

                    {% if user.userprofile.avatar %}
                        <li><a id="mylink" href="#win">{{ user.get_full_name|default:user }}
                        <div id="picture"><img class="round" src="{{user.userprofile.avatar.url}}" width="40" height="40"></div></a></li>
                    {% else %}
                        <li><a id="mylink" href="#win">{{ user.get_full_name|default:user }}</a></li>
                    {% endif %}

                    <div class="modal" id="MyModal">
                        <div class="modal-content">
                            {% if user.userprofile.avatar %}
                                <img src="{{ user.userprofile.avatar.url }}" width="43" height="40">
                            bla bla bla
                            {% endif %}
                            {% if user.is_superuser %}
                                <p><a href="/admin">Admin</a></p>
                                <p><a href="/fighter/myadmin">MyAdmin</a></p>
                            {% endif %}
                            <p><a href="/accounts/profile">Профиль</a></p>
                            <p><a href="/accounts/editing">Настройки</a></p> 
                            <a href="/accounts/password_change">Изменить пароль</a>
                            <p><a href="#">Помощь</a></p> 
                            <hr>
                            <p><a href="/accounts/logout">Выйти</a></p><br>
                        </div>
                    </div>

            {% else %}
                <li><a href="/accounts/login">Войти</a></li>
            {% endif %}
        </div>
    </ul>
    <!--</br>-->
    {% block content %}{% endblock %}
    {% block footer %} {% endblock %}
    <script src="/static/fighter/js/profile_scripts.js"></script>
</body>
</html>