{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'fighter/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fighter/css/modal_window_profile.css' %}">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <ul id="nav">
        <li><a style="padding-top: 0%" href="/fighter/demo"><img src="{% static 'fighter/img/new_boxing.jpeg' %}" width="60" height="40"></li></a>
        <li><a href="/fighter/demo">English Fighter</a></li>
        {% if user.is_anonymous %}
        <li><a href="/accounts/register">Регистрация</a></li>
        {% endif %}
        <div class="profile_log">
            {% if user.is_authenticated %}
                    <li><a id="mylink" href="#win">{{ user.get_full_name|default:user }}</a></li>
                    <div class="modal" id="MyModal">
                        <div class="modal-content">
                            <p><a href="/accounts/profile">Профиль</a></p>
                            <p><a href="/accounts/editing">Настройки</a></p> 
                            <p><a href="/none">Помощь</a></p> 
                            <hr>
                            <p><a href="/accounts/logout">Выйти</a></p><br>
                            <!--<span class="close">&times;</span><br><br>-->
                        </div>
                    </div>

            {% else %}
                <li><a href="/accounts/login">Войти</a></li>
            {% endif %}
        </div>
    </ul>
    </br>
    {% block content %}{% endblock %}
    {% block footer %} {% endblock %}
    <script src="/static/fighter/js/profile_scripts.js"></script>
</body>
</html>