{% extends 'fighter/base.html' %}
{% block content %}
<div class="root_content">
    <div id='count'>0</div>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input id="root_button_save" type="submit" name="save" value="Save">
        <input id="root_button_cancel" type="button" onclick="location.href='/listdata'" value='Cancel'>
        <input id="root_button_delete" type="submit" name="delete" value="Delete">
    </form>


    <script>
    document.getElementById('id_buttons').addEventListener('keyup', count_elem)
    function count_elem() {
        var arrayTextarea = document.getElementById('id_buttons').value.split(' ')
        document.getElementById('count').innerHTML = arrayTextarea.length
    }
    </script>
</div>
{% endblock %}