{% extends 'fighter/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body style="background-color: #2B3D52">
    <h3>Вход через социальные сети</h3>
    <a href="{% url 'social:begin' 'twitter' %}">Twitter</a><br>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a><br>
    <a href="{% url 'social:begin' 'facebook' %}">Facebook</a><br>
    <a href="{% url 'social:begin' 'vk-oauth2' %}">Vkontakte</a><br>

    <a href="/accounts/tmp">common</a>
</body>
</html>
{% endblock %}