{% extends 'fighter/base.html' %}
{% load staticfiles %}
{% block content %}

<script>
    $(window).ready(function() {
        setTimeout("$('.lessonstart').fadeIn('slow');", 200);
    })
</script>

<!--<body class="bodycolor">-->
<!--<body>-->

<body style="background: #2B3D52">

    <center><div>The app is developing</div></center><br /><br />

    <!-- <div id="parent"> -->
    <div class="wrap">
        <div class="lessonstart" onclick="location.href='/lesson_one/';">
            <div id="color-one">
                <div class="position">Базовая форма глагола</div><br />
                    <div class="progressbar"><div id="onebar"></div></div>
            </div>
        </div>
        <div class="lessonstart" onclick="location.href='/lesson_two/';">
            <div id="color-two">
                <div class="position">Past simple, Present simple, Future simple</div><br />
                    <div class="progressbar"><div id="twobar"></div></div>
            </div>
        </div>
        <!-- <div class="lessonstart" onclick="location.href='#';"> -->
            <!-- <div class="color">Third lesson</div> -->
        <!-- </div> -->
    </div>

    <div class="wrap">
        <div class="lessonstart" onclick="location.href='#';">
            <div id="color-three">
                <div class="position">Three lesson</div><br />
                    <div class="progressbar"><div id="threebar"></div></div>
            </div>
        </div>
        <div class="lessonstart" onclick="location.href='#';">
            <div id="color-four">
                <div class="position">Four lesson</div><br />
                    <div class="progressbar"><div id="fourbar"></div></div>
            </div>
        </div>
        <!-- <div class="lessonstart" onclick="location.href='#';"> -->
            <!-- <div class="color">Sixth lesson</div> -->
        <!-- </div> -->
    </div>

    <div class="wrap">
        <div class="lessonstart" onclick="location.href='#';">
            <div id="color-five">
                <div class="position">Five lesson</div><br />
                    <div class="progressbar"><div id="fivebar"></div></div>
            </div>
        </div>
        <div class="lessonstart" onclick="location.href='#';">
            <div id="color-six">
                <div class="position">Six lesson</div><br />
                    <div class="progressbar"><div id="sixbar"></div></div>
            </div>
        </div>
        <!-- <div class="lessonstart" onclick="location.href='#';"> -->
            <!-- <div class="color">Ninth lesson</div> -->
        <!-- </div> -->
    </div>
    
<!-- 
    <div class="wrap">
        <div class="lessonstart" onclick="location.href='#';">
            <div class="color">Tenth lesson</div>
        </div>
        <div class="lessonstart" onclick="location.href='#';">
            <div class="color">The eleventh lesson</div>
        </div>
        <div class="lessonstart" onclick="location.href='#';">
            <div class="color">The twelfth lesson</div>
        </div>
    </div> -->
<!-- 
    <div class="wrap">
        <div class="lessonstart" onclick="location.href='#';">
            <div class="color">The thirteenth lesson</div>
        </div>
        <div class="lessonstart" onclick="location.href='#';">
            <div class="color">The fourteenth lesson</div>
        </div>
        <div class="lessonstart" onclick="location.href='#';">
            <div class="color">The fifteenth lesson</div>
        </div>
    </div> -->
<!-- </div> -->
</body>
{% endblock %}