{% extends "fighter/base.html" %}
{% block content %}

    <!--<script>
        $(document).ready(function(){
            $('#block').toggle(1000);
        })        
    </script>-->
<!--<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>-->

<!--<script>-->
    <!--// $(document).ready(function() {-->
        <!--$("#block").css("display", "none");-->
        <!--// $("#block").fadeToggle(1000);-->
        <!--// setTimeout("$('#block').fadeIn('drop');", 200);-->
        <!--// $("#block").fadeIn(800);-->
    <!--// });-->
<!--</script>-->

<body style="background: #2B3D52">

<script>
    function setFocus() {
        document.getElementById("text").focus();
    }
    setFocus()
</script>

<div id="block">
    <center>
    <p style="color: red">{{ message }}</p>
    <div id="showRU" class="sentence">
        {{ stack.russia }}<br />
    </div>
    <script>
        document.getElementById('text').blur()
    </script>

    <form id="myform" onsubmit="foo(); return false;" name='myform' >{% csrf_token %}
        <input id="text" name="field" type="text" disabled autocomplete="off" autofocus="on">
    </form>
    <button id="d" class="btnInViews" value="Dell" onclick="dell_word()">Dell</button>
    <!--<input type="button" id="d" class="btnInViews" value="dell" onclick="dell_word()">-->
    <div id="_buttons"></div><br>
    <div id="_buttons_two"></div>
    <script>
        var listBtns = "{{ stack.buttons }}".split(' ')
        var english = "{{ stack.english }}"
        var russia = "{{ stack.russia }}".split(' ')
    </script>

    <script src="/static/fighter/js/lesson.js"></script>

    </center>
    </div>
</body>
{% endblock %}