{% extends "fighter/base.html" %}
{% block content %}
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

<style>
	
	#hide-block-one {
		width: 400px;
		height: 200px;
		margin: 10% auto;
		background: black;
		text-align: center;
		color: white;
		cursor:pointer;
	}

	#hide-block-two {
		width: 400px;
		height: 200px;
		margin: 10% auto;
		background: black;
		text-align: center;
		display: none;
		color: white;
		cursor:pointer;
	}
	
</style>

<div id="click-back">back</div>
<div id="click-next">next</div>

<div class="parent"
	<div id="hide-block-one">
		<p>I'm hide-block-one</p>
	</div>
</div>

<script>
	console.log('Hello world again')
</script>

<script>
var spam = ['hello', 'a', 'little', 'few', 'little', 'a', 'home', 'world', 'a', 'little']
spam.forEach(function(elem, index, arr) {
	if (spam[index] == 'a' && spam[index + 1] == 'little') {  
		spam[index] = spam[index].toString() + 'little';
		arr.splice(index + 1, 1)
	}
})
console.log(spam)
</script>

<!-- <div id="hide-block-two">
	<p>I'm hide-block-two</p>
</div>

	<script>
		$('#click-next').click(function() {
			// $('#hide-block-one').fadeToggle('slow')

			$('#hide-block-one').hide('slow');
			$('#hide-block-two').show('slow');
		})

		$('#click-back').click(function() {
			$('#hide-block-one').show('slow');
			$('#hide-block-two').hide('slow');
		})

	</script>
 -->


{% endblock %}