{% extends "fighter/base.html" %}
{% block content %}
<!--<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>-->
<style>
	body {
		background: #33485F;
	}
</style>

<div id="test"></div>

<script>
	function foo() {
		// alert('hello world')
		$("#test").hide();
	}

	var days = ['monday', 'tuesday', 'wednsday', 'thursday', 'friday', 'saturday', 'sunday']
	for (var x = 0; x < days.length; x++) {
		var btn = document.createElement('input')
		btn.id = 'b' + x;
		btn.value = days[x];
		btn.type = 'button';
		document.getElementById('test').appendChild(btn)

		btn.addEventListener("click", function() {
			foo()
			console.log('hello world')
			alert('hi')
		})
	}
</script>
{% endblock %}