{% extends 'fighter/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English fighter</title>
</head>
<body>
    <form id="loginform" action="" method="POST">{% csrf_token %}
        <label for='username'>Логин*</label><br>
        <input type="text" name="username" value="" id="username"><br>

        <label for='password'>Пароль*</label><br>
        <input type="password" name="password" value="" id="password"><br>
        {% if login_error %}
            {{ login_error }}
        {% endif %}
        <br>
        <input type="submit" value="Вход">
    </form>
        <h3>Вход через социальные сети</h3>
        <a href="{% url 'social:begin' 'twitter' %}">Twitter</a><br>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a><br>
        <a href="{% url 'social:begin' 'facebook' %}">Facebook</a><br>
        <a href="{% url 'social:begin' 'vk-oauth2' %}">Vkontakte</a><br>
</body>
</html>
{% endblock %}