#nav {
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 70px;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    border-bottom: 0x solid #ccc;
    background-color: #33485F;
}

#point, #nav li a {
    margin-top: 19px;
    float: left;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #ccc;
    outline: none;
}

#nav li a:hover {
    color:#E5E5E5;
}


#nav2 li a {
    margin-top: 19px;
    float: right;
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #ccc;
    outline: none;
    display: inline-block;
}

#picture {
    position: relative;
    /*top: -8px;*/
    right: 50px;
    top: -30px;
}

.bodycolor {
    background-color: #2B3D52;
    color: #ccc;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /*background-color: #2B3D52;*/
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#color_message {
    position: absolute;
    top: 70px;
    left: 15px;
    font-size: 15px;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#point {
    width: 100px;
    font-size: 16px;
    color: #8291A3;
    background-color:#2B3D52;
    margin-top: 16px;
    border-radius: 19px;

}

#points {
    font-size: 16px;
    position: relative;
    top: -3px;
    left: 10px;
    display: inline-block;
}

.round {
    border-radius: 100%;
    /*border: 3px solid grey;*/
    /*box-shadow: 0 0 7px #666;*/
}

.btnInViews {
    position: relative;
    outline: none;
    left: 50px;
    top: -4px;
    /*border: 0;*/
    border: 1px;
    background-color: #5E7188;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 110px;
    height: 45px;
    margin: 10px;
    outline: none;

}
.btnInViews:hover {background-color: #69798C; color: red}

.lessonstart {
    display: none;
    /*top: 0px; right: 0; bottom: 0; left: 0; margin: auto;*/
    /*float: left;*/
    border: 0px;
    width: 500px;
    height: 100px;
    color: white;
    background: white;
    cursor: pointer;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.lessonstart:hover {
    position: relative;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    bottom: 5px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 1600px) {
    .wrap {
        padding-right: 295px;
        padding-left: 295px;
    }
    .lessonstart {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .wrap {
        display: flex;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.sentence {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    outline: none;
}

/*the buttons in lesson of template*/
.btns {
    border: 1px;
    background-color: #5E7188;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 150px;
    height: 40px;
    margin: 10px;
    outline: none;
}

.btns:hover {background-color: #69798C}

.btns:focus{
    border: 0px solid green; 
    outline: none;
}

/******************* This is colors in tags **************/
.color {
    background: linear-gradient(to right, #22CACE, #36B8D0);
    height: 50%;
}

#text {
    position: relative;
    left: 60px;
    text-align: center;
    color: grey;
    font-size: 30px;
    width: 54%;
    height: 45px;
    /*border: 0;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}